
<button class="allergy-filter-trigger"><i class="fa fa-filter"></i><span>Allergy Filter</span><i class="fa fa-angle-down"></i></button>
<div class="allergy-filter">
	<h4>Meals are guaranteed to not container the allergen in any ingredient.</h4>
	<p>However, we cannot guarantee against cross contamination, as trace elements may be present.</p>
	<ul class="allergy-list"></ul>
	<button class="btn btn-empty btn-clear">Clear</button>
</div>