<template id="delivery-popup-elements">
    <article>
        <h3>Next deliveries are scheduled for the following days (select yours at the checkout)</h3>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
    </article>
</template>
<script>



<script>