<div class="anchor-nav" id="fresh-meals-anchor-nav">
	<div class="anchor-nav-inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<button class="btn btn-anchor" data-target="#anchorNavMobile">
						<ul>
							<li class="collection-visible"><span class="anchor-trigger" data-target="collection-lunchdinner">Lunch & Dinner <i class="fa fa-angle-down"></i></span></li>
							<li><span class="anchor-trigger" data-target="collection-breakfast">Breakfast <i class="fa fa-angle-down"></i></span></li>
							<li><span class="anchor-trigger" data-target="collection-snacks">Snacks <i class="fa fa-angle-down"></i></span></li>
							<li><span class="anchor-trigger" data-target="collection-drinks">Drinks <i class="fa fa-angle-down"></i></span></li>
						</ul>
					</button>
					<ul class="anchor-list">
						<li class="collection-visible"><a class="anchor-trigger" data-target="collection-lunchdinner" href="#collection-lunchdinner">Lunch & Dinner</a></li>
						<li><a class="anchor-trigger" data-target="collection-breakfast" href="#collection-breakfast">Breakfast</a></li>
						<li><a class="anchor-trigger" data-target="collection-snacks" href="#collection-snacks">Snacks</a></li>
						<li><a class="anchor-trigger" data-target="collection-drinks" href="#collection-drinks">Drinks</a></li>
					</ul>
					{% include 'allergy-filter' %}
				</div>
			</div>
		</div>
	</div>
</div>