<div class="postcode-message">
	<p class="postcode-primary-message">
		<span class="message"></span>
		<a class="try-another hide-link" href="#">Try another</a>
	</p>
	<p class="postcode-secondary-message"></p>
</div>