<div class="testimonial-carousel-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Our Customers tell it like it is</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="testimonial-carousel owl-carousel">
                    <div>
                        <div class="review-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>
                        <h4 class="review-title">Absolutely delicious.</h4>
                        <p class="review-message">"I'm a huge fan. Choosing THR1VE Fresh Ready meals is a given for me, because they stick to their promise of gluten free, no toxic oils and refined sugar free. So not only are they truly healthy meals, but they taste <u>great</u>, and make life so much easier for me and my son."</p>
                        <p class="review-author">Scott Gooding, Author & Personal Trainer</p>
                    </div>
                    <div>
                        <div class="review-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>
                        <h4 class="review-title">Breath of fresh air!</h4>
                        <p class="review-message">I love that the ingredients are super clean. Between you and me - the other fresh meal delivery company I have tried use a few ingredients I would <b>NEVER</b> keep in my pantry - adding sugar to protein balls, using white flour as thickener, and so on. Knowing that I can trust what's in THR1VE's fresh ready meals to be all natural and super healthy, is a breath of fresh air!</p>
                        <p class="review-author">Sally 'The Fit Foodie' Health Blogger</p>
                    </div>
                    <div>
                        <div class="review-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>
                        <h4 class="review-title">How food SHOULD be</h4>
                        <p class="review-message">Some of my clients would really benefit from using these. We have a lot of clients who travel a lot, or finish work very late, and it's affecting their food choices, so this concept makes me a little excited! Looking at the ingredients list - THAT is how food SHOULD be. Love it.</p>
                        <p class="review-author">Jessica Cox, Nutritionist @jescoxnutritionist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>